;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sun Jun  8 01:26:21 2014
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/.emacs.d/" "~/.emacs.d/elpa/cider-20140606.712/cider.el"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/evangileon/.emacs.d/elpa/cider-20140606.712/cider.el"
  "cider.el"
  'emacs-lisp-mode
  '(yas-minor-mode auto-complete-mode undo-tree-mode)
  2334
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

